

.container{
    max-width: 800px;
    height: 400px;
}

button{
    margin: 100px;
}

ul{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

li{
    border: 3px solid blue;
    list-style-type: none;
    padding: 10px 10px;
    color: orange;
}


li:nth-of-type(3n + 1) {
    color: red;
}


li:nth-of-type(5n + 1) {
    color: violet;
}


li:nth-of-type(15n + 1) {
    color: green;
}


