

.container{
    max-width: 800px;
    height: 400px;
}

ul{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
}

li{
    border: 3px solid blue;
    list-style-type: none;
    padding: 10px 10px;
}